

.Blog ul{
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding:0;
}

.Blog li{
    display: inline-block;
    margin: 20px;
}

.Blog a{
    text-decoration: none;
    color:black;
}


.Blog a:hover,
.Blog a:active,
.Blog a.active{
    color:#fa923f;
}
/*.Blog a.my-active{*/
/*    color:#f00;*/
/*}*/
